@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="heading display-4">Welcome to the Business Directory App</h1>
    <p>Create a custom directory, catalog or any other listing in a centralized database.
    This application works for a variety of uses, where you can list clients and contacts.
    It also allows you to link these entities.</p>
</div>
